<!--<p id="notice"><%= notice %></p>

<h1>Listing Approvals</h1>

<table>
  <thead>
    <tr>
      <th>Week</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @approvals.each do |approval| %>
      <tr>
        <td><%= approval.week %></td>
        <td><%= link_to 'Show', approval %></td>
        <td><%= link_to 'Edit', edit_approval_path(approval) %></td>
        <td><%= link_to 'Destroy', approval, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Approval', new_approval_path %>-->

  <div class="sub_header">
    <span><span><span>Approvals : </span><span class="rbutton1"><< 1 </span><span class="rbutton2">2 </span><span class="rbutton3">3 </span><span class="rbutton4">4 >></span></span>
    <div class="button1 button">
      <div class="buttonLink">
        <%= link_to "", root_path %>
      </div>
    </div>
    <div class="button2 button">
      <div class="buttonLink">
        
      </div>
    </div>
    <% if current_user.role.name == "Admin" or current_user.role.name == "Admin/Employee" %>
    <div class="button3 button">
      <div class="buttonLink">
       <%= link_to '', approvals_path %> 
      </div>
    </div>
    <% end %>
  </div>
<div class="theadfix">
<table>
  <!--<thead>
    <tr>
      <th>USER</th>
      <th>SUNDAY</th>
      <th>MONDAY</th>
      <th>TUESDAY</th>
      <th>WEDNESDAY</th>
      <th>THURSDAY</th>
      <th>FRIDAY</th>
      <th>SATURDAY</th>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>-->
</div>
<div class="table">
<table>
<thead>
    <tr>
      <th class="userth">USER</th>
      <th>SUNDAY</th>
      <th>MONDAY</th>
      <th>TUESDAY</th>
      <th>WEDNESDAY</th>
      <th>THURSDAY</th>
      <th>FRIDAY</th>
      <th>SATURDAY</th>
      <th colspan="3"></th>
    </tr>
</thead>
</table>
</table>
<div class="table edit rotaone">
<div class="tr"><div class="td td_username userth"><%= @event.name %></div></div>
<% @users.each do |user| %>
<div class="tr">
  <%= form_for(user, :remote => true) do |f| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="td td_username username userth">
      <%= user.username %>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.sundayap %></span>
      <%= f.hidden_field :sunday, :value => user.sundayap %>
      <%= f.hidden_field :sundayap, :value => "" %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
    <span><%= user.mondayap %></span>
      <%= f.hidden_field :monday, :value => user.mondayap %>
      <%= f.hidden_field :mondayap, :value => "" %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.tuesdayap %></span>
      <%= f.hidden_field :tuesday, :value => user.tuesdayap %>
      <%= f.hidden_field :tuesdayap, :value => "" %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.wednesdayap %></span>
      <%= f.hidden_field :wednesday, :value => user.wednesdayap %>
      <%= f.hidden_field :wednesdayap, :value => "" %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.thursdayap %></span>
      <%= f.hidden_field :thursday, :value => user.thursdayap %>
      <%= f.hidden_field :thursdayap, :value => "" %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.fridayap %></span>
      <%= f.hidden_field :friday, :value => user.fridayap %>
      <%= f.hidden_field :fridayap, :value => "" %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.saturdayap %></span>
      <%= f.hidden_field :saturday, :value => user.saturdayap %>
      <%= f.hidden_field :saturdayap, :value => "" %>
    </div>
    </div>
    <div class="actions td">
      <%= f.submit :class => "sub" %>
    </div>
    
  <% end %>
  </div>
<% end %>
<div class="field">
  <button class="mastersub">Approve</button>
</div>
</div>



<script type="text/javascript">
  $(".mastersub").click(function() {
    $(".sub").click();
    setTimeout(function(){
      window.location="/";
    }, 750);
  });
</script>

<div class="table edit rotatwo">
<div class="tr"><div class="td td_username userth"><%= @event.name02 %></div></div>
<% @users.each do |user| %>
<div class="tr">
  <%= form_for(user, :remote => true) do |f| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="td td_username username userth">
      <%= user.username %>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.sundayap02 %></span>
      <%= f.hidden_field :sunday02, :value => user.sundayap02 %>
      <%= f.hidden_field :sundayap02, :value => "" %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
    <span><%= user.mondayap02 %></span>
      <%= f.hidden_field :monday02, :value => user.mondayap02 %>
      <%= f.hidden_field :mondayap02, :value => "" %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.tuesdayap02 %></span>
      <%= f.hidden_field :tuesday02, :value => user.tuesdayap02 %>
      <%= f.hidden_field :tuesdayap02, :value => "" %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.wednesdayap02 %></span>
      <%= f.hidden_field :wednesday02, :value => user.wednesdayap02 %>
      <%= f.hidden_field :wednesdayap02, :value => "" %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.thursdayap02 %></span>
      <%= f.hidden_field :thursday02, :value => user.thursdayap02 %>
      <%= f.hidden_field :thursdayap02, :value => "" %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.fridayap02 %></span>
      <%= f.hidden_field :friday02, :value => user.fridayap02 %>
      <%= f.hidden_field :fridayap02, :value => "" %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.saturdayap02 %></span>
      <%= f.hidden_field :saturday02, :value => user.saturdayap02 %>
      <%= f.hidden_field :saturdayap02, :value => "" %>
    </div>
    </div>
    <div class="actions td">
      <%= f.submit :class => "sub2" %>
    </div>
    
  <% end %>
  </div>
<% end %>
<div class="field">
  <button class="mastersub2">Approve</button>
</div>
</div>



<script type="text/javascript">
  $(".mastersub2").click(function() {
    $(".sub2").click();
    setTimeout(function(){
      window.location="/";
    }, 750);
  });
</script>


<div class="table edit rotathree">
<div class="tr"><div class="td td_username userth"><%= @event.name03 %></div></div>
<% @users.each do |user| %>
<div class="tr">
  <%= form_for(user, :remote => true) do |f| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="td td_username username userth">
      <%= user.username %>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.sundayap03 %></span>
      <%= f.hidden_field :sunday03, :value => user.sundayap03 %>
      <%= f.hidden_field :sundayap03, :value => "" %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
    <span><%= user.mondayap03 %></span>
      <%= f.hidden_field :monday03, :value => user.mondayap03 %>
      <%= f.hidden_field :mondayap03, :value => "" %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.tuesdayap03 %></span>
      <%= f.hidden_field :tuesday03, :value => user.tuesdayap03 %>
      <%= f.hidden_field :tuesdayap03, :value => "" %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.wednesdayap03 %></span>
      <%= f.hidden_field :wednesday03, :value => user.wednesdayap03 %>
      <%= f.hidden_field :wednesdayap03, :value => "" %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.thursdayap03 %></span>
      <%= f.hidden_field :thursday03, :value => user.thursdayap03 %>
      <%= f.hidden_field :thursdayap03, :value => "" %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.fridayap03 %></span>
      <%= f.hidden_field :friday03, :value => user.fridayap03 %>
      <%= f.hidden_field :fridayap03, :value => "" %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.saturdayap03 %></span>
      <%= f.hidden_field :saturday03, :value => user.saturdayap03 %>
      <%= f.hidden_field :saturdayap03, :value => "" %>
    </div>
    </div>
    <div class="actions td">
      <%= f.submit :class => "sub3" %>
    </div>
    
  <% end %>
  </div>
<% end %>
<div class="field">
  <button class="mastersub3">Approve</button>
</div>
</div>



<script type="text/javascript">
  $(".mastersub3").click(function() {
    $(".sub3").click();
    setTimeout(function(){
      window.location="/";
    }, 750);
  });
</script>


<div class="table edit rotafour">
<div class="tr"><div class="td td_username userth"><%= @event.name04 %></div></div>
<% @users.each do |user| %>
<div class="tr">
  <%= form_for(user, :remote => true) do |f| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="td td_username username userth">
      <%= user.username %>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.sundayap04 %></span>
      <%= f.hidden_field :sunday04, :value => user.sundayap04 %>
      <%= f.hidden_field :sundayap04, :value => "" %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
    <span><%= user.mondayap04 %></span>
      <%= f.hidden_field :monday04, :value => user.mondayap04 %>
      <%= f.hidden_field :mondayap04, :value => "" %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.tuesdayap04 %></span>
      <%= f.hidden_field :tuesday04, :value => user.tuesdayap04 %>
      <%= f.hidden_field :tuesdayap04, :value => "" %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.wednesdayap04 %></span>
      <%= f.hidden_field :wednesday04, :value => user.wednesdayap04 %>
      <%= f.hidden_field :wednesdayap04, :value => "" %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.thursdayap04 %></span>
      <%= f.hidden_field :thursday04, :value => user.thursdayap04 %>
      <%= f.hidden_field :thursdayap04, :value => "" %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.fridayap04 %></span>
      <%= f.hidden_field :friday04, :value => user.fridayap04 %>
      <%= f.hidden_field :fridayap04, :value => "" %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.saturdayap04 %></span>
      <%= f.hidden_field :saturday04, :value => user.saturdayap04 %>
      <%= f.hidden_field :saturdayap04, :value => "" %>
    </div>
    </div>
    <div class="actions td">
      <%= f.submit :class => "sub4" %>
    </div>
    
  <% end %>
  </div>
<% end %>
<div class="field">
  <button class="mastersub4">Approve</button>
</div>
</div>



<script type="text/javascript">
  $(".mastersub4").click(function() {
    $(".sub4").click();
    setTimeout(function(){
      window.location="/";
    }, 750);
  });
</script>


