<% if current_user.role.name == "Admin" or current_user.role.name == "Admin/Employee" %>
<table>
  <thead>
    <tr>
      <th class="margsev">Name</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="margsev"><%= user.username %></td>
        <td><%= user.role.name %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<span class="margsev"><%= link_to 'New User', new_user_path %></span>
<% end %>
