  <div class="sub_header">
      <span><span><span>Rota : </span><span class="rbutton1"><< 1 </span><span class="rbutton2">2 </span><span class="rbutton3">3 </span><span class="rbutton4">4 >></span></span>
      <div class="button1 button">
      <div class="buttonLink">
        <%= link_to "", root_path %>
      </div>
    </div>
    <div class="button2 button">
      <div class="buttonLink">
        
      </div>
    </div>
        <% if current_user.role.name == "Admin" or current_user.role.name == "Admin/Employee" %>
    <div class="button3 button">
      <div class="buttonLink">
       <%= link_to '', approvals_path %> 
      </div>
    </div>
    <% end %>
</div>
<% if current_user.role.name == "Admin" or current_user.role.name == "Admin/Employee" %>
<div class="theadfix">
<table>
  <!--<thead>
    <tr>
      <th>USER</th>
      <th>SUNDAY</th>
      <th>MONDAY</th>
      <th>TUESDAY</th>
      <th>WEDNESDAY</th>
      <th>THURSDAY</th>
      <th>FRIDAY</th>
      <th>SATURDAY</th>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>-->
</div>
<div class="table">
<table>

<thead>
    <tr>
      <th class="userth">USER</th>
      <th>SUNDAY</th>
      <th>MONDAY</th>
      <th>TUESDAY</th>
      <th>WEDNESDAY</th>
      <th>THURSDAY</th>
      <th>FRIDAY</th>
      <th>SATURDAY</th>
      <th colspan="3"></th>
    </tr>
</thead>
</table>
</table>
<div class="table edit rotaone">
<div class="tr"><div class="td td_username userth"><%= @event.name %></div></div>
<% @users.each do |user| %>
<div class="tr">
  <%= form_for(user, :remote => true) do |f| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="td td_username username userth">
      <%= user.username %>
    </div>
    <div class="td">

      <%= f.text_field :sunday, :value => user.sunday %>

    </div>
    <div class="td">

      <%= f.text_field :monday, :value => user.monday %>
    </div>

    <div class="td">

      <%= f.text_field :tuesday, :value => user.tuesday %>

    </div>
    <div class="td">

      <%= f.text_field :wednesday, :value => user.wednesday %>

    </div>
    <div class="td">

      <%= f.text_field :thursday, :value => user.thursday %>

    </div>
    <div class="td">

      <%= f.text_field :friday, :value => user.friday %>

    </div>
    <div class="td">

      <%= f.text_field :saturday, :value => user.saturday %>

    </div>
    <div class="actions td">
      <%= f.submit :class => "sub" %>
    </div>
    
  <% end %>
  </div>
<% end %>
<div class="field">
  <button class="mastersub button_style">Submit</button>
</div>
</div>

<script type="text/javascript">
  $(".mastersub").click(function() {
    $(".sub").click();
    setTimeout(function(){
      window.location="/";
    }, 750);
  });
</script>
<!-- SECOND ROTA -->

<div class="table edit rotatwo">
<div class="tr"><div class="td td_username userth"><%= @event.name02 %></div></div>
<% @users.each do |user| %>
<div class="tr">
  <%= form_for(user, :remote => true) do |f| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="td td_username username userth">
      <%= user.username %>
    </div>
    <div class="td">

      <%= f.text_field :sunday02, :value => user.sunday02 %>

    </div>
    <div class="td">

      <%= f.text_field :monday02, :value => user.monday02 %>
    </div>

    <div class="td">

      <%= f.text_field :tuesday02, :value => user.tuesday02 %>

    </div>
    <div class="td">

      <%= f.text_field :wednesday02, :value => user.wednesday02 %>

    </div>
    <div class="td">

      <%= f.text_field :thursday02, :value => user.thursday02 %>

    </div>
    <div class="td">

      <%= f.text_field :friday02, :value => user.friday02 %>

    </div>
    <div class="td">

      <%= f.text_field :saturday02, :value => user.saturday02 %>

    </div>
    <div class="actions td">
      <%= f.submit :class => "sub2" %>
    </div>
    
  <% end %>
  </div>
<% end %>
<div class="field">
  <button class="mastersub2 button_style">Submit</button>
</div>
</div>

<script type="text/javascript">
  $(".mastersub2").click(function() {
    $(".sub2").click();
    setTimeout(function(){
      window.location="/";
    }, 750);
  });
</script>
<!-- THIRD ROTA -->

<div class="table edit rotathree">
<div class="tr"><div class="td td_username userth"><%= @event.name03 %></div></div>
<% @users.each do |user| %>
<div class="tr">
  <%= form_for(user, :remote => true) do |f| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="td td_username username userth">
      <%= user.username %>
    </div>
    <div class="td">

      <%= f.text_field :sunday03, :value => user.sunday03 %>

    </div>
    <div class="td">

      <%= f.text_field :monday03, :value => user.monday03 %>
    </div>

    <div class="td">

      <%= f.text_field :tuesday03, :value => user.tuesday03 %>

    </div>
    <div class="td">

      <%= f.text_field :wednesday03, :value => user.wednesday03 %>

    </div>
    <div class="td">

      <%= f.text_field :thursday03, :value => user.thursday03 %>

    </div>
    <div class="td">

      <%= f.text_field :friday03, :value => user.friday03 %>

    </div>
    <div class="td">

      <%= f.text_field :saturday03, :value => user.saturday03 %>

    </div>
    <div class="actions td">
      <%= f.submit :class => "sub3" %>
    </div>
    
  <% end %>
  </div>
<% end %>
<div class="field">
  <button class="mastersub3 button_style">Submit</button>
</div>
</div>

<script type="text/javascript">
  $(".mastersub3").click(function() {
    $(".sub3").click();
    setTimeout(function(){
      window.location="/";
    }, 750);
  });
</script>
<!-- FOURTH ROTA -->
<div class="table edit rotafour">
<div class="tr"><div class="td td_username userth"><%= @event.name04 %></div></div>
<% @users.each do |user| %>
<div class="tr">
  <%= form_for(user, :remote => true) do |f| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="td td_username username userth">
      <%= user.username %>
    </div>
    <div class="td">

      <%= f.text_field :sunday04, :value => user.sunday04 %>

    </div>
    <div class="td">

      <%= f.text_field :monday04, :value => user.monday04 %>
    </div>

    <div class="td">

      <%= f.text_field :tuesday04, :value => user.tuesday04 %>

    </div>
    <div class="td">

      <%= f.text_field :wednesday04, :value => user.wednesday04 %>

    </div>
    <div class="td">

      <%= f.text_field :thursday04, :value => user.thursday04 %>

    </div>
    <div class="td">

      <%= f.text_field :friday04, :value => user.friday04 %>

    </div>
    <div class="td">

      <%= f.text_field :saturday04, :value => user.saturday04 %>

    </div>
    <div class="actions td">
      <%= f.submit :class => "sub4" %>
    </div>
    
  <% end %>
  </div>
<% end %>
<div class="field">
  <button class="mastersub4 button_style">Submit</button>
</div>
</div>

<script type="text/javascript">
  $(".mastersub4").click(function() {
    $(".sub4").click();
    setTimeout(function(){
      window.location="/";
    }, 750);
  });
</script>
<% else %>
<div class="theadfix">
<table>
  <!--<thead>
    <tr>
      <th>USER</th>
      <th>SUNDAY</th>
      <th>MONDAY</th>
      <th>TUESDAY</th>
      <th>WEDNESDAY</th>
      <th>THURSDAY</th>
      <th>FRIDAY</th>
      <th>SATURDAY</th>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>-->
</div>
<div class="table">
<table>
<thead>
    <tr>
      <th class="userth">USER</th>
      <th>SUNDAY</th>
      <th>MONDAY</th>
      <th>TUESDAY</th>
      <th>WEDNESDAY</th>
      <th>THURSDAY</th>
      <th>FRIDAY</th>
      <th>SATURDAY</th>
      <th colspan="3"></th>
    </tr>
</thead>
</table>
</table>
<div class="table edit rotaone">
<div class="tr nobord"><div class="td td_username userth"><%= @event.name %></div></div>
<% @users.each do |user| %>
<div class="tr">
  <%= form_for(user, :remote => true) do |f| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="td td_username username userth">
      <%= user.username %>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.sunday %></span>
      <%= f.hidden_field :sundayap, :value => user.sunday %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
    <span><%= user.monday %></span>
      <%= f.hidden_field :mondayap, :value => user.monday %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.tuesday %></span>
      <%= f.hidden_field :tuesdayap, :value => user.tuesday %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.wednesday %></span>
      <%= f.hidden_field :wednesdayap, :value => user.wednesday %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.thursday %></span>
      <%= f.hidden_field :thursdayap, :value => user.thursday %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.friday %></span>
      <%= f.hidden_field :fridayap, :value => user.friday %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.saturday %></span>
      <%= f.hidden_field :saturdayap, :value => user.saturday %>
    </div>
    </div>
    <div class="actions td">
      <%= f.submit :class => "sub" %>
    </div>
    
  <% end %>
  </div>
<% end %>
<div class="field">
  <button class="mastersub button_style">Submit</button>
</div>
</div>


<script type="text/javascript">
  $(".mastersub").click(function() {
    $(".sub").click();
    setTimeout(function(){
      window.location="/";
    }, 750);
  });
</script>
<!-- SECOND ONE -->

<div class="table edit rotatwo">
<div class="tr nobord"><div class="td td_username userth"><%= @event.name02 %></div></div>
<% @users.each do |user| %>
<div class="tr">
  <%= form_for(user, :remote => true) do |f| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="td td_username username userth">
      <%= user.username %>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.sunday02 %></span>
      <%= f.hidden_field :sundayap02, :value => user.sunday02 %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
    <span><%= user.monday02 %></span>
      <%= f.hidden_field :mondayap02, :value => user.monday02 %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.tuesday02 %></span>
      <%= f.hidden_field :tuesdayap02, :value => user.tuesday02 %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.wednesday02 %></span>
      <%= f.hidden_field :wednesdayap02, :value => user.wednesday02 %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.thursday02 %></span>
      <%= f.hidden_field :thursdayap02, :value => user.thursday02 %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.friday02 %></span>
      <%= f.hidden_field :fridayap02, :value => user.friday02 %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.saturday02 %></span>
      <%= f.hidden_field :saturdayap02, :value => user.saturday02 %>
    </div>
    </div>
    <div class="actions td">
      <%= f.submit :class => "sub2" %>
    </div>
    
  <% end %>
  </div>
<% end %>
<div class="field">
  <button class="mastersub2 button_style">Submit</button>
</div>
</div>


<script type="text/javascript">
  $(".mastersub2").click(function() {
    $(".sub2").click();
    setTimeout(function(){
      window.location="/";
    }, 750);
  });
</script>
<!-- THIRD ONE -->

<div class="table edit rotathree">
<div class="tr nobord"><div class="td td_username userth"><%= @event.name03 %></div></div>
<% @users.each do |user| %>
<div class="tr">
  <%= form_for(user, :remote => true) do |f| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="td td_username username userth">
      <%= user.username %>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.sunday03 %></span>
      <%= f.hidden_field :sundayap03, :value => user.sunday03 %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
    <span><%= user.monday03 %></span>
      <%= f.hidden_field :mondayap03, :value => user.monday03 %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.tuesday03 %></span>
      <%= f.hidden_field :tuesdayap03, :value => user.tuesday03 %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.wednesday03 %></span>
      <%= f.hidden_field :wednesdayap03, :value => user.wednesday03 %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.thursday03 %></span>
      <%= f.hidden_field :thursdayap03, :value => user.thursday03 %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.friday03 %></span>
      <%= f.hidden_field :fridayap03, :value => user.friday03 %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.saturday03 %></span>
      <%= f.hidden_field :saturdayap03, :value => user.saturday03 %>
    </div>
    </div>
    <div class="actions td">
      <%= f.submit :class => "sub3" %>
    </div>
    
  <% end %>
  </div>
<% end %>
<div class="field">
  <button class="mastersub3 button_style">Submit</button>
</div>
</div>


<script type="text/javascript">
  $(".mastersub3").click(function() {
    $(".sub3").click();
    setTimeout(function(){
      window.location="/";
    }, 750);
  });
</script>
<!-- FOURTH ONE -->

<div class="table edit rotafour">
<div class="tr nobord"><div class="td td_username userth"><%= @event.name04 %></div></div>
<% @users.each do |user| %>
<div class="tr">
  <%= form_for(user, :remote => true) do |f| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="td td_username username userth">
      <%= user.username %>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.sunday04 %></span>
      <%= f.hidden_field :sundayap04, :value => user.sunday04 %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
    <span><%= user.monday04 %></span>
      <%= f.hidden_field :mondayap04, :value => user.monday04 %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.tuesday04 %></span>
      <%= f.hidden_field :tuesdayap04, :value => user.tuesday04 %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.wednesday04 %></span>
      <%= f.hidden_field :wednesdayap04, :value => user.wednesday04 %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.thursday04 %></span>
      <%= f.hidden_field :thursdayap04, :value => user.thursday04 %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.friday04 %></span>
      <%= f.hidden_field :fridayap04, :value => user.friday04 %>
    </div>
    </div>
    <div class="td">
    <div class="draggable droppable">
      <span><%= user.saturday04 %></span>
      <%= f.hidden_field :saturdayap04, :value => user.saturday04 %>
    </div>
    </div>
    <div class="actions td">
      <%= f.submit :class => "sub4" %>
    </div>
    
  <% end %>
  </div>
<% end %>
<div class="field">
  <button class="mastersub4 button_style">Submit</button>
</div>
</div>



<% end %>
<script type="text/javascript">
  $(".mastersub4").click(function() {
    $(".sub4").click();
    setTimeout(function(){
      window.location="/";
    }, 750);
  });
</script>

