<% @events.each do |event| %>
  <div class="sub_header">
    << Week Commencing : 13/12/15 >>
    <div class="button1 button">
      <div class="buttonLink">
        <%= link_to '', event, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <div class="button2 button">
      <div class="buttonLink">
        <%= link_to '', edit_event_path(event) %>
      </div>
    </div>
    <div class="button3 button">
    </div>
  </div>
<div class="theadfix">
<table>
  <!--<thead>
    <tr>
      <th>USER</th>
      <th>SUNDAY</th>
      <th>MONDAY</th>
      <th>TUESDAY</th>
      <th>WEDNESDAY</th>
      <th>THURSDAY</th>
      <th>FRIDAY</th>
      <th>SATURDAY</th>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>-->
</div>
<div class="table">

<table>
  <thead>
    <tr>
      <th>USER</th>
      <th>SUNDAY</th>
      <th>MONDAY</th>
      <th>TUESDAY</th>
      <th>WEDNESDAY</th>
      <th>THURSDAY</th>
      <th>FRIDAY</th>
      <th>SATURDAY</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    
      <% @users.each do |user| %>
        <tr>
          <td class="username"><%= user.username %></td>
          <td><%= user.sunday %></td>
          <td><%= user.monday %></td>
          <td><%= user.tuesday %></td>
          <td><%= user.wednesday %></td>
          <td><%= user.thursday %></td>
          <td><%= user.friday %></td>
          <td><%= user.saturday %></td>
        </tr>
          
        
      <% end %>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    
  </tbody>
</table>
</div>
<% end %>
<br>

<!--<%= link_to 'New Event', new_event_path %>-->
